body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1121px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:51px;
  top:20px;
  width:1070px;
  height:750px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:750px;
}
#u1 {
  position:absolute;
  left:2px;
  top:367px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:53px;
  top:30px;
  width:1067px;
  height:65px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1067px;
  height:65px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:1063px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:41px;
  width:80px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:60px;
  top:150px;
  width:414px;
  height:317px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:317px;
}
#u7 {
  position:absolute;
  left:2px;
  top:150px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:60px;
  top:105px;
  width:1040px;
  height:35px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:1036px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:81px;
  top:303px;
  width:60px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:86px;
  top:474px;
  width:134px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u12_ann {
  position:absolute;
  left:213px;
  top:470px;
  width:1px;
  height:1px;
}
